.main-sidebar .sidebar-menu li div.nav-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    width: 100%;
    letter-spacing: .3px;
    color: #78828a;
    text-decoration: none;
    font-weight: 500;
}

.main-sidebar .sidebar-menu li div.nav-link i {
    width: 28px;
    margin-right: 20px;
    text-align: center;
}

.main-sidebar .sidebar-menu li div.nav-link span {
    margin-top: 3px;
    width: 100%;
}

body:not(.sidebar-mini) .main-sidebar .sidebar-menu > li.active > .nav-link {
    padding-left: 16px;
    background-color: transparent;
    position: relative;
}

.main-sidebar .sidebar-menu li.active .nav-link {
    color: #6777ef;
    font-weight: 600;
    background-color: #fcfcfd;
}

body:not(.sidebar-mini) .main-sidebar .sidebar-menu > li.active > .nav-link:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 4px;
    background-color: #6777ef;
}